<div class="container">
<h1>New Bookmark</h1>

<form action="/create_bookmark">
  
  <div class="input-group">
    <span class="input-group-addon">Name</span>
    <input id="name" type="text" class="form-control">
  </div>
  
  <div class="input-group">
     <span class="input-group-addon">URL</span>
    <input id="url" name="url" type="text" class="form-control"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon">Description</span>
    <input id="description" name="description" type="text" />
  </div>
 
  <div class="input-group">
     <span class="input-group-addon">User</span>
    <select name="user_id" id="user_id">
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.id %> <%= user.name %></option>
      <% end %>
    </select>
  </div>
  <div style="margin-top:2em;">
    <input type="submit"> <a href="/bookmarks">Cancel</a>
  </div>
</form>
</div>

